.place__like-icon{
    border: none;
    background: url(../../../images/Vectorheart.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 19px;
    width: 22px;
    right: 10px;
    transition: 0.3s;
    outline: none;
}

.place__like-icon:hover{
    opacity: 0.5;
}

.place__like-icon.active{
    background: url(../../../images/Union.svg) center no-repeat;
}