.popup__input{
    width: 83.26%;
    height: 40px;
    margin: 0 auto 17px auto;
    border: white;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

@media screen and (max-width: 620px) {
    .popup__input{
        max-width: 84.4%;
    }
}