.intro__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.intro__container:hover {
    cursor: pointer;
}

.intro__container:hover .profile__avatar {
    opacity: .4;
    transition: .5s linear;
}

.intro__container:hover .profile__avatar-edit {
    display: block;
}