.header{
    max-width: 880px;
    margin: 45px auto 36.25px auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
}

@media screen and (max-width: 912px) {
    .header{
        max-width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .header{
        margin: 28px auto 38.25px auto;
        max-width: 320px;
    }
}
