.intro__avatar-button {
    width: 26px;
    height: 26px;
    background: no-repeat center url('../../../images/Vector.svg');
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 47px;
    display: none;
}