.content{
    position: relative;
    max-width: 880px;
    margin: 0 auto 47.25px auto;
    padding: 0 16px 0 16px;
}

@media screen and (max-width: 912px) {
    .content{
        max-width: 581px;
    }
}

@media screen and (max-width: 620px) {
    .content{
        padding: 0 19px 0 19px;
        max-width: 320px;
    }
}