.popup__filed{
    width: 83.26%;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    margin: 0 auto 17px auto;
    border: white;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .popup__filed{
        max-width: 84.4%;
        font-size: 14px;
    }
}