.form__close{
    background-image:  url(../../../images/Close\ Icon.svg);
    background-size: 100%;
    width: 32px;
    height: 32px;
    margin: -40px -40px auto auto;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
    background-color: unset;
    border: none;
}

.form__close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 620px) {
    .form__close{
        width: 20px;
        height: 20px;
        margin: -36px 0 auto auto;
    }
}