.intro__title{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 912px){
    .intro__title{
        margin: 0 auto;
    }
}

@media screen and (max-width: 620px){
    .intro__title{
        font-size: 27px;
        line-height: 1.22;
    }
}